.hide {
    display: none;
    align-items: center;
    vertical-align: middle;
}

.player {
    display: inline-block;
    width: 400px;
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
    border: 1px solid rgb(221, 221, 221);
}

.card {
    display: block;
    margin: auto;
    padding: 7px;
    height: 200px;
    width: 160px;
    margin-top: 10px;
    background-color: rgb(84, 226, 17);
    border: 1px solid black;
    border-radius: 5px;
}

.big {
    font-size: 1.5em;
    text-align: center;
    line-height: 45px;
    margin-top: 10px;
    display: block;
}

.red {
    color: red;
}

.tiny {
    display: block;
    font-size: 0.6em;
    line-height: 12px;
    vertical-align: top;
    text-align: right;
}

.stats {
    margin-top: 25px;
    font-size: 0.8em;
}

.gameplay {
    background-color: rgb(149, 203, 248);
}

.message {
    font-size: 1.2em;
    padding: 10px;
    align-items: center;
    vertical-align: middle;
}

.start {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: white;
    align-items: center;
    vertical-align: middle;
}

.attack {
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    background-color: rgb(17, 0, 0);
    color: rgb(245, 39, 12);
    vertical-align: middle;
}

input {
    width: 85px;
    font-size: 2em;
    vertical-align: middle;
}